
@{
    ViewBag.Title = "IfCondition";
}


<h2>Razor IfCondition</h2>


@{
    //please change "true" to print "this is false"
    var tag = true;
}
@if (tag)
{
    <p>this is true</p>
}
else
{
    <p>this is false</p>
}


