
@{
    ViewBag.Title = "Loop";
}

@model IEnumerable<BasicASP.NETMvc.Models.Movie>

<h2>Razor Loop</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    @* 
        please print MovieList Data by loop
    *@
    
</table>