
@{
    ViewBag.Title = "SwitchCondition";
}

<h2>Razor SwitchCondition</h2>



@{
    //please change "" to print "Only one day before weekend." on page
    var day = "";
    string message = null;
}
@switch(day)
{
    case "Monday":
        message="This is the first weekday.";
        break;
    case "Thursday":
        message="Only one day before weekend.";
        break;
    case "Friday":
        message="Tomorrow is weekend!";
        break;
    default:
        message="Today is " + day;
        break;
}
<p>@message</p>


